VITE_BASE_URL=https://api.goodclimateproject.org
VITE_API_SCHEMA_URL=https://api.goodclimateproject.org/api/schema/swagger-ui
VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
